.text-comment {
  cursor: pointer;
}

.text-comment:hover {
  text-decoration: underline;
}

.collapse__bg-hover:hover {
  background: rgba(229, 231, 235, 1);
  transition: all 0.5 ease-in;
}

.ant-collapse-header {
  padding: 0 !important;
}
