.header__content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #1976d2 !important;
}

#navbarNav .navbar-nav .nav-link {
  color: white;
}

#navbarNav .nav-item {
  padding: 0 10px;
}

#navbarNav .navbar-nav .nav-link:hover {
  transition: all 0.5s ease-in-out;
  color: rgb(203, 196, 196);
}

.navbar-light .navbar-toggler {
  color: hsla(0, 0%, 100%, 0.6);
  border: none;
  outline: none;
  background-color: none;
  border-radius: 20px;
}

.navbar-light .navbar-toggler:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.04);
}
